
.expierience{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
}
.education{
    text-align: center;
    background-color: whitesmoke;
}
.skills{
    text-align: center;
    background-color: whitesmoke;
}

